<div class="breadcrumb-placeholder">
  <div class="wrapper breadcrumb-wrapper">
    <ol class="breadcrumb">
      <img src="{{ site.baseurl }}/img/logo-esus.png">
      <li><a href="{{ site.baseurl }}/">Home</a></li>

      {% if page.nav_item %}
        {% for item in page.nav_item.breadcrumb %}
          {% if page.id == item.id %}
            <li title="{{ item.title }}">{{ item.title }}</li>
          {% else %}
            <li><a title="{{ item.title }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}

      {% else %}
        <li title="{{ page.title }}">{{ page.title }}</li>
      {% endif %}
    </ol>
  </div>
</div>
