ol.breadcrumb {
  list-style: none;
  margin: 0;
  font-size: 13px;
  background-color: #f5f5f5;
  padding: 12px 15px 7px 15px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  li {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;

    &+li:before {
      content: ">";
      padding-left: 4px;
      padding-right: 7px;
      color: #ccc;
    }

    &:last-child {
      a {
        color: #777;
        cursor: default;
        text-decoration: none;
      }
    }
  }

  img {
    display: none;
  }
}

.breadcrumb-placeholder {
  margin: 15px 0;
  min-height: 43px; /* Preserve the breadcrumb height after set to position: fixed */
}

.breadcrumb-wrapper {
  //position: fixed;
  transition: .2s padding;

  .breadcrumb {
    transition: .2s padding;
  }
}

/* Sticky breadcrumb */

.breadcrumb-wrapper.sticky {
  z-index: 2;
  top: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;

  .breadcrumb {
    border-radius: 0;
    margin: 0;
    max-width: none;
    @extend .wrapper;

    img {
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 10px;
      height: 26px;
    }
  }
}

/* For small devices */

@include media-query($small-device) {
  ol.breadcrumb {
    img {
      float: left;
    }

    li {
      display: block;
      max-width: none;

      &::before {
        content: ">";
        padding-left: 4px;
        padding-right: 7px;
        color: #ccc;
      }
    }

    &:hover {
      li {
        display: block !important;
      }
    }
  }

  .sticky ol.breadcrumb  {
    line-height: 26px; //image size

    &:hover img {
      display: none !important;
    }

    li:not(:last-child) {
      display: none;
    }
  }
}
