@font-face {
	font-family: 'docs-icons';
	src:url('../fonts/docs-icons.eot?1iu6fj');
	src:url('../fonts/docs-icons.eot?#iefix1iu6fj') format('embedded-opentype'),
		url('../fonts/docs-icons.ttf?1iu6fj') format('truetype'),
		url('../fonts/docs-icons.woff?1iu6fj') format('woff'),
		url('../fonts/docs-icons.svg?1iu6fj#docs-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'docs-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: $base-line-height;
  font-size: 24px;
  color: $brand-color;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.icon-pdf:before {
	content: "\e600";
}
.icon-git:before {
	content: "\e601";
}
.icon-back:before {
	content: "\e602";
}
.icon-about:before {
	content: "\e603";
}
