{% assign navurl = page.url | remove: 'index.html' %}
{% assign item = page.nav_item %}

{% if navurl == "/" or item == nil or item.single %}
  <ul>
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% if item.leaf and item.root == false %}
    {% assign item = item.parent %}
  {% endif %}

  <ul>
    {% if item.parent %}
      <li>
        <a title="Voltar para {{ item.parent.title }}" href="{{ item.parent.url | prepend: site.baseurl }}" class="back-link">
          <i class="icon icon-back"></i> Voltar
          <small>({{ item.parent.title }})</small>
        </a>
      </li>
    {% else %}
      <li>
        <a title="Voltar para Home" href="{{ site.baseurl }}/" class="back-link">
          <i class="icon icon-back"></i> Voltar
          <small>(Home)</small>
        </a>
      </li>
    {% endif %}

    <li>
      <a class="open" title="{{ item.title }}" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
      <ul>
        {% for subitem in item.subitems %}
          {% if subitem.url == navurl %}<li class="active">
          {% else %}<li {% if subitem.subitems != empty %} class="has-subitems"{% endif %}>
          {% endif %}
            <a title="{{ subitem.title }}" href="{{ subitem.url | prepend: site.baseurl }}">
              {{ subitem.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endif %}
