{% for item in include.nav %}
    <div class="post pdf" id="{{ item.id }}">
      <header class="post-header">
        <h1 class="post-title">{{ item.page['title'] }}</h1>
      </header>

      {% capture namespace %}
        {{ site.baseurl }}{{ item.page.url }}
      {% endcapture %}

      <article class="post-content">
        {{ item.page['content'] | relative_src_filter: namespace }}
      </article>

      <div class="pdf-separator"></div>
    </div>

    {% if item.subitems %}
        {% include pdf-content.html nav=item.subitems %}
    {% endif %}
{% endfor %}
