$base-font-family: Helvetica, Arial, sans-serif;
$monospace-font-family: "Courier New", monospace;
$base-font-size:   15px;
$small-font-size:  13px;
$base-line-height: 1.5;

$spacing-unit:     28px;

$text-color:       #444;
$background-color: #fdfdfd;

$brand-color:      #297aea;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-medium: 600;

// Width of the content area
$content-width:     94%;
$content-max-width: 1600px;

// Device breakpoints for responsivity
$small-device:     600px;
$medium-device:    800px;
