/**
 * Definitions for the "Generate PDF" file
 */

.pdf-select {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 4px;

  & > ul {
    margin: 0;
  }

  ul {
    list-style: none;
  }

  label small {
    display: none;
    white-space: nowrap;
  }

  label:hover small {
    display: inline;
  }

  @media print {
    display: none;
  }
}

.pdf-separator {
    border: 2px solid #ddd;
    margin-bottom: 25px;
}
