{% assign navurl = page.url | remove: 'index.html' %}
{% assign item = page.nav_item %}

{% if navurl == "/" or item == nil %}
  <ul>
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% if item.leaf %}
    {% comment %}
      Se for nodo folha, renderiza o nó pai e os irmãos
    {% endcomment %}
    {% assign item = item.parent %}
  {% endif %}

  <ul>
    {% if item.parent %}
      <li>
        <a title="Voltar para {{ item.parent.title }}" href="{{ item.parent.url }}" class="back-link">
          <i class="icon icon-back"></i> Voltar
          <small>({{ item.parent.title }})</small>
        </a>
      </li>
    {% else %}
      <li>
        <a title="Voltar para Home" href="/" class="back-link">
          <i class="icon icon-back"></i> Voltar
          <small>(Home)</small>
        </a>
      </li>
    {% endif %}

    <li>
      <a class="open" title="{{ item.title }}" href="{{ item.url }}">{{ item.title }}</a>
      <ul>
        {% for subitem in item.subitems %}
          {% if subitem.url == navurl %}<li class="active">
          {% else %}<li {% if subitem.subitems != empty %} class="has-subitems"{% endif %}>
          {% endif %}
            <a title="{{ subitem.title }}" href="{{ site.baseurl }}{{ subitem.url }}">
              {{ subitem.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endif %}
