/* Site content, post and doc styling plus specific typography */

.page-content {
    padding: 15px 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    .btn {
      margin-right: 10px;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.post-title {
    margin: 0;
    font-size: 36px;
    line-height: 1.35;
    font-weight: $font-weight-medium;

    @include media-query($medium-device) {
        font-size: 32px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6 {
      margin-top: 40px;
    }

    h1 {
        font-size: 32px;
        font-weight: $font-weight-normal;
        border-bottom: 1px solid #ddd;

        @include media-query($medium-device) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 28px;
        font-weight: $font-weight-light;

        @include media-query($medium-device) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: $font-weight-light;

        @include media-query($medium-device) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: $font-weight-light;

        @include media-query($medium-device) {
            font-size: 16px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: $font-weight-light;

        @include media-query($medium-device) {
            font-size: 16px;
        }
    }

    h5 {
        font-size: 18px;
        font-weight: $font-weight-medium;

        @include media-query($medium-device) {
            font-size: 15px;
        }
    }

    h6 {
        font-size: 16px;
        font-weight: $font-weight-medium;

        @include media-query($medium-device) {
            font-size: 15px;
        }
    }
}

/**
 * Fix for anchor links with sticky header
 * From http://nicolasgallagher.com/jump-links-and-viewport-positioning/
 */
h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
h6[id]::before,
a[name]::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0 0;
  z-index: -1;
}
