.btn {
  border: 1px solid #ddd;
  padding: 4px 8px;
  color: $text-color;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;

  &:hover {
    border-color: $brand-color;
  }
}

.btn.large {
  padding: 8px 12px;
}

.btn.primary {
  background-color: $brand-color;
  color: #eee;
  border: 0;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}
