/**
 * Site header including nav, logo, site title
 */

.site-header {
    padding: 15px 0;
    border-top: 5px solid $brand-color;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 24px;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: $text-color;
    font-weight: $font-weight-light;

    img {
      padding-right: 20px;
    }

    span {
      vertical-align: middle;
    }
}

.site-header .title-text {
  @include media-query($small-device) {
    display: none;
  }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    a {
        color: $text-color;
        text-decoration: none;
        font-size: 18px;
        font-weight: $font-weight-light;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
          color: $brand-color;
        }
    }

    @include media-query($small-device) {
        position: absolute;
        top: 30px;
        right: 30px;

        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: left;

        a {
          display: block;
          margin-left: 0 !important;
          padding: 0 10px;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 6px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
