/* Site structure */

.sidebar {
  float: left;
  width: 25%;
  max-width: 330px;

  @include media-query(800px) {
    float: none;
    width: 100%;
    max-width: none;
    padding: 0;
  }

  &:after {
    content: "\00a0"; /* Hack to preserve width of empty floating div */
  }
}

.sidebar-content {
  height: 100%;
  overflow: auto;

  &.sticky {
    @include media-query(800px) {
      margin-top: 0 !important;
    }
  }
}

.content {
  float: left;
  width: 75%;
  padding-left: 50px;

  @include media-query(800px) {
    float: none;
    width: 100%;
    padding: 0;
  }
}
